<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/lista_pacienti.css">
    <title>Lista Pacienti</title>
</head>
<body>
<div th:replace="~{fragments/navbar_t :: navbar}"></div>
<h1>Pacienți</h1>
<div th:each="pacient : ${pacienti}" class="pacient-card"
     th:onclick="'window.location.href=\'/terapeut/pacienti/' + ${pacient.id} + '\''">
    <h3 th:text="${pacient.nume}"></h3>
    <p><span th:text="${pacient.varsta}"></span></p>
    <p><span th:text="${pacient.diagnostic} != null ? ${pacient.diagnostic} : 'N/A'"></span></p>
</div>
</body>
</html>