# Infrastructure Config
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_USER=root
MYSQL_PASSWORD=your_db_password

RABBITMQ_USER=guest
RABBITMQ_PASS=guest

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_REALM=kinetocare
KEYCLOAK_CLIENT_ID=react-client

# Service URLs
KEYCLOAK_URL=http://keycloak:8080
RABBITMQ_HOST=rabbitmq
MYSQL_HOST=mysql
