# Build artifacts
build/
out/

# IDE-specific
.idea/
*.iml
*.iws
.vscode/
.settings/
.classpath
.project

# Log-uri și mediu
*.log
logs/

# OS specific
.DS_Store
Thumbs.db

# Executables
zipkin.jar
*.jar

# Node dependencies
node_modules/
**/node_modules/

# Thesis
Thesis/
