/shelf/
/workspace.xml
/httpRequests/
/mavenHomeManager.xml
/dataSources/
/dataSources.local.xml
/target/
/.mvn/
/target/
/*.jar
/*.war
/.gradle/
/build/
/.idea/
/*.iml
/.project
/.classpath
/.settings/
/*.vscode/
/.DS_Store
/.env
/logs/
/*.log

