spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
          # rutele cu StripPrefix=2 se regasesc in api-gateway,
          # altfel StripPrefix=1 (cum este pentru ServiciiService)
            - id: auth-proxy
              uri: no://op # 'no operation' -> fara forward, se gestioneaza local
              predicates:
                - Path=/api/auth/**
              filters:
                - StripPrefix=2
                - RemoveRequestHeader=Authorization # nu trimitem token-ul mai departe catre auth

            - id: profile-service
              uri: no://op # profile se gestioneaza local (profilecontroller)
              predicates:
                - Path=/api/profile/**
              filters:
                - StripPrefix=1

            - id: user-service
              uri: ${application.urls.user-service} # user service
              predicates:
                - Path=/api/users/**
              filters:
                - StripPrefix=1

            - id: pacienti-service
              uri: ${application.urls.pacienti-service} # pacienti service
              predicates:
                - Path=/api/pacient/**
              filters:
                - StripPrefix=1

            - id: terapeuti-disponibilitate
              uri: ${application.urls.terapeuti-service} # rutele specifice pentru terapeuti trebuie sa fie inainte de ruta generala
              predicates:
                - Path=/api/disponibilitate/**
              filters:
                - StripPrefix=1

            - id: terapeuti-locatii
              uri: ${application.urls.terapeuti-service}
              predicates:
                - Path=/api/locatii/**
              filters:
                - StripPrefix=1

            - id: terapeuti-concediu
              uri: ${application.urls.terapeuti-service}
              predicates:
                - Path=/api/concediu/**
              filters:
                - StripPrefix=1

            - id: terapeuti-service
              uri: ${application.urls.terapeuti-service} # ruta generala pentru terapeuti (trebuie sa fie dupa rutele specifice)
              predicates:
                - Path=/api/terapeut/**
              filters:
                - StripPrefix=1

            - id: programari-service
              uri: ${application.urls.programari-service} # programari service
              predicates:
                - Path=/api/programari/**
              filters:
                - StripPrefix=1

            - id: evaluari-service
              uri: ${application.urls.programari-service} # evaluari -> programari-service
              predicates:
                - Path=/api/evaluari/**
              filters:
                - StripPrefix=1

            - id: evolutii-service
              uri: ${application.urls.programari-service} # evolutii -> programari-service
              predicates:
                - Path=/api/evolutii/**
              filters:
                - StripPrefix=1
                
            - id: fisa-pacient-service
              uri: ${application.urls.programari-service} # fisa pacient -> programari-service
              predicates:
                - Path=/api/fisa-pacient/**
              filters:
                - StripPrefix=1
                
            - id: jurnal-service
              uri: ${application.urls.pacienti-service} # jurnal -> pacienti-service
              predicates:
                - Path=/api/jurnal/**
              filters:
                - StripPrefix=1

            - id: servicii-service
              uri: ${application.urls.servicii-service} # servicii service
              predicates:
                - Path=/api/servicii/**
              filters:
                - StripPrefix=1

            - id: chat-service
              uri: ${application.urls.chat-service} # chat service
              predicates:
                - Path=/api/chat/**
              filters:
                - StripPrefix=1

            - id: notificari-service
              uri: ${application.urls.notificari-service} # notificari service
              predicates:
                - Path=/api/notificari/**
              filters:
                - StripPrefix=1
          default-filters:
            - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_UNIQUE
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/kinetocare
          jwk-set-uri: http://localhost:8080/realms/kinetocare/protocol/openid-connect/certs

server:
  port: 8081

keycloak:
  client-id: react-client

application:
  urls:
    user-service: http://localhost:8082
    pacienti-service: http://localhost:8083
    terapeuti-service: http://localhost:8084
    programari-service: http://localhost:8085
    servicii-service: http://localhost:8086
    chat-service: http://localhost:8087
    notificari-service: http://localhost:8088

logging:
  level:
    root: INFO
    com.example.api_gateway: DEBUG
    org.springframework.web: INFO
    org.springframework.security: DEBUG

  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"

  file:
    name: logs/api-gateway.log

  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 30
# pentru poza de profil, implicit fiind doar de 256KB
  codec:
    max-in-memory-size: 10MB